<a href="https://colab.research.google.com/github/12rahulkumar/Machine_Learning/blob/master/Pandas_1st_class_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#   In the cell below, create a DataFrame fruits that looks like this:

#               Apples   Banana
#           0     30       21


import pandas as pd

fruits = pd.DataFrame({'Apple':[30],'Banana':[21]})
print(fruits)

   Apple  Banana
0     30      21

In [3]:
#   In the cell below, create a DataFrame that looks like this:

#        Bob	              Sue
# 0	  I liked it.	     Pretty good.
# 1	  It was awful.	     Bland.


import pandas as pf

person = pf.DataFrame({'Bob':['I liked it','it was awful'],'Sue':['Preety good','Bland']})

print(person)

            Bob          Sue
0    I liked it  Preety good
1  it was awful        Bland

In [19]:
#   In the cell below, create a DataFrame fruits that looks like this:

#                 Apples   Banana
#           ram     30       21
#           rahul   25       22

import pandas as pd

fruits = pd.DataFrame({'Apples':[30,25],'Banana':[21,22]},index = ['ram','rahul'])

print(fruits)

       Apples  Banana
ram        30      21
rahul      25      22

In [8]:
# create a series that look like this

# 0 1
# 1 2
# 2 3
# 3 4
# 4 5

import pandas as pd

num = pd.Series([1,2,3,4,5])
print(num)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
# Create a variable ingredients with a Series that looks like:

# Flour     4 cups
# Milk       1 cup
# Eggs     2 large
# Spam       1 can
# Name: Dinner, dtype: object


import pandas as pd
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'] , name = 'Dinner' , index = ['Flour','Milk','Eggs','Spam'])
print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object